# 각 환경 변수는 실제 값으로 교체해서 사용
# AWS_ACCESS_KEY_ID=AWS Access Key ID (logging 용)
AWS_ACCESS_KEY_ID=aws_access_key_id

# AWS_SECRET_ACCESS_KEY=AWS Secret Access Key (logging 용)
AWS_SECRET_ACCESS_KEY=aws_secret_access_key

# LOKI_S3_BUCKET=Loki 로그 저장 S3 버킷/폴더
LOKI_S3_BUCKET=loki_s3_bucket_or_bucket_path

# LOKI_S3_REGION=Loki S3 리전
LOKI_S3_REGION=loki_s3_region

# LOKI_EXTERNAL_IP=Loki 외부 접근용 노드 IP
LOKI_EXTERNAL_IP=loki_external_ip

# POSTGRES_DATA_SOURCE_NAME=Postgres Exporter DSN
POSTGRES_DATA_SOURCE_NAME=postgres_exporter_dsn

# GF_SECURITY_ADMIN_PASSWORD=Grafana 관리자 비밀번호
GF_SECURITY_ADMIN_PASSWORD=grafana_admin_password
