# AWS Credentials for Loki S3 Storage
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# Loki S3 Bucket Configuration
LOKI_S3_BUCKET=your_loki_bucket_name/loki-logging # Use 'bucket/folder' to store in a subfolder
LOKI_S3_REGION=ap-northeast-2
LOKI_EXTERNAL_IP=your_k8s_node_public_ip

# External Exporters Configuration
POSTGRES_DATA_SOURCE_NAME=postgresql://user:password@hostname:5432/dbname?sslmode=disable

# Grafana Configuration
GF_SECURITY_ADMIN_PASSWORD=admin #기본 패스워드
