# 각 환경 변수는 실제 값으로 교체해서 사용
# POSTGRES_EXPORTER_USER=Postgres Exporter 조회 계정
POSTGRES_EXPORTER_USER=postgres_exporter_user

# POSTGRES_EXPORTER_PASSWORD=Postgres Exporter 조회 비밀번호
POSTGRES_EXPORTER_PASSWORD=postgres_exporter_password

# RDS_HOSTNAME=RDS 호스트 주소
RDS_HOSTNAME=rds_hostname

# RDS_DB_NAME=RDS 데이터베이스명
RDS_DB_NAME=rds_db_name

# IP_ADDRESS=모니터링 대상 서버 IP
IP_ADDRESS=target_server_ip
